

/*  Default body styles ---------------------- */

body {
  background: $color-off-white;
  color: $color-base-font;
  padding: 0;
  margin: 0;
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 1.5;
  position: relative;
}

/* Miscellaneous useful HTML classes ---------------------- */
.left         { float: left !important; }
.right        { float: right !important; }
.text-left    { text-align: left !important; }
.text-right   { text-align: right !important; }
.text-center  { text-align: center !important; }
.text-justify { text-align: justify !important; }
.hidden         { display: none; }

// Antialiased font smoothing works best for light text on a dark background.
// Apply to single elements instead of globally to body.
.antialiased { -webkit-font-smoothing: antialiased; }


/* Links  ---------------------- */

a {
  color: $color-blue;
  text-decoration: underline;
  
  &:hover {
    text-decoration: underline;
    color: darken($color-blue, 10%);
  }
}

a:focus { outline: none; }


/* Lists  ---------------------- */

ul, ol {
  li {
    margin-bottom: $base-padding/2;
  }
}


/* Header  ---------------------- */

#header {

}

#logo {
  
}


nav ul {
  @include navigation-list;
  li {
    a {
      display: block;
      padding: $base-padding;
      text-decoration: none;
      color: $color-base-font;
 
      &:hover {
        background: $color-light-grey;
        text-decoration: none;
      }
      
      &:active {
        background: $color-dark;
        color: #fff;
      }      
      
      &.active {
        font-weight: $bold;
      }
    }
  }
}

/* Reusable Layouts  ---------------------- */  

.box {
    padding: $base-padding;
    background: #fff;
}


/* Hero Banner  ---------------------- */

.hero { 
  background: $color-purple url('../images/macaroons.jpg') no-repeat top center;
  background-size: cover;
  color: #fff;
  padding: $base-padding 0;
  
  a {
    text-decoration: none;
  }
  
  h1 {
    margin: 0;
    text-align: center;
    
    a:hover {
      text-decoration: none;
    }
  }
  
  h3 {
    margin: 0;
    font-size: $font-size-normal;
  }
  
  a {
    color: #fff;
  }
  
  .menu {
    display: block;
    padding: $base-padding;
    text-align: center;
    background: #fff;
    color: $color-purple;
    text-shadow: none;

    &:hover {
      background: $color-purple;
      color: #fff; 
      text-decoration: none; 
    }
  }
}

.location {
  a {
    font-size: $font-size-small;
    text-decoration: underline;
  }
}

/* Content  ---------------------- */

#content {
  line-height: 1.5;
  margin-bottom: $base-padding*2;
}

#menu {
  @include blank-list;
  
  h3 {
    margin-bottom: 0;
  }
  
  .description {
    margin-top: 0;
  }
}



footer, #footer {
  padding: $base-padding*2 0;
  margin-top: $base-padding*2; 
  border-top: 1px solid $color-light-grey;

  ul {
    @include blank-list;
  }
}




/* Mobile and up media queries  ---------------------- */
@media #{$small-up} {

}  



/* Tablet and up media queries  ---------------------- */
@media #{$medium-up} {
  .hero {
      padding: $base-padding*10 0;
      font-size: $font-size-large;
        
      h1 {
        text-align: left;
      }
  }
   
} 

/* Desktop and up media queries  ---------------------- */
@media #{$large-up} {

}   

