
/* Buttons  ---------------------- */ 
@mixin button() {
  color: $color-dark;
  font-weight: $bold;
  font-size: $base-font-size;
  text-decoration: none !important;
  padding: $base-padding $base-padding*2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  border: 1px solid #bbb;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  background: #f7f7f7;
  @include linear-gradient(#f7f7f7, #e0e0e0, 1); 
  
  &:hover, &:focus {
    color: $color-off-black;
    background: #e3e3e3;
    @include linear-gradient(#f7f7f7, #cecece, 1);  
  }
  
  &:active, &.active {
    color: $color-off-black;
    text-shadow: -1px -1px #999;  
    border: 1px solid #515151;
    border-bottom: 1px solid #999;
    box-shadow: 0 0 1px #fff;
    background: #515151; /* Old browsers */
    @include linear-gradient(#515151, #a0a0a0, 1, #878787, 11%);  
  } 
  
  &.active {
    color: #111;
  }
}

@mixin button-green() {
  color: #fff;
  text-shadow:-1px -1px 0 rgba(0,0,0,0.5);
  border: 1px solid #3d5b06;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  
  @include linear-gradient(#71a510, #55930e, 1); 
  
  &:hover, &:focus {
    @include linear-gradient(#7eb812, #60a610, 1);  
  }
  
  &:active, &.active {
    @include linear-gradient(#3d5b06, #55930e, 1, #55930e, 11%); 
    box-shadow: none;
  } 
}

/* Buttons  ---------------------- */
  
button, .button, input[type=submit] {
  @include button();
  
  &.green {
    @include button-green();
  }
}

