$color-border: #ccc;

form {
  margin: $base-padding*2 0;  
}

fieldset {
    padding: 0;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #bbb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

legend {
    display:none;
}

input, 
select {
    color: $color-base-font;
    background: #fff;
    width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align:middle;
    display:inline-block;
    margin:-4px 0 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    vertical-align:middle;
    display:inline-block;
    width: 100%;
    padding: 6px 6px;
    border-radius: 3px;
    border: 1px solid $color-border;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
    &:focus {
        background: #fff;
        color: $color-base-font;
        border:1px solid $color-dark;
    }
}

input[type="submit"] {
    margin-top: $base-padding;
    width: auto;
}

textarea {
    width:100%;
    height:60px;
}

label {
    display:inline-block;
    line-height:1.5;
    margin-top: $base-padding;
    width:100%;
    font-weight: $bold;
    font-size: $font-size-small;
    
    &.checkbox, &.radio {
        margin:0 0 0 5px;
        width:auto;     
    }
    
    &.textarea {
        display:block;
    }
}


.alert {
  padding: $base-padding*2;
  position: fixed;
  top: 0;
  left: 50%;  
  margin: 0;
  margin-top: $base-padding*2; 
  margin-left: -150px;
  width: 300px;
  text-align: center;
  background: rgba(0,0,0,0);
  font-weight: $normal;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  opacity: 1;

  &.success {
    background: $color-green;
    background: rgba(82,126,62,0.9);
  }
  
  &.error {
    background: $color-red;
    background: rgba(161,23,23,0.9);
  } 
  
  &.active {
    margin-top: -100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);  
    opacity: 1;
  }   
  
  &.hidden {
    margin-top: $base-padding*2;
    opacity: 0;
  } 
}

.delete-content {
  float: left;
  padding: 0;
  margin: 0;
  margin-top: -62px;
  margin-left: 130px;
}

.short {
  width: 300px;
}

@media #{$medium} {
    textarea {
        width: 80%;
    }  
}    

