$color-border: #ccc;

form {
  margin: $base-padding*2 0;
  position: relative;
  
  &.delete-category {
    display: inline-block;
    margin: 0;
  }
    
  p {
    margin: 0;
    margin-bottom: 6px;
  }
  
  em {
    font-size: $font-size-small;
    color: $color-mid;
    font-weight: $normal;
  }
  
}

fieldset {
    padding: 0;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #bbb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

legend {
    display:none;
}

input, 
select {
    color: $color-base-font;
    background: #fff;
    width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align: middle;
    display: inline-block;
    margin:-4px 0 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    vertical-align:middle;
    display:inline-block;
    width: 100%;
    padding: 12px 12px;
    border-radius: 3px;
    border: 1px solid $color-border;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
    &:focus {
        background: #fff;
        color: $color-base-font;
        border:1px solid $color-dark;
    }
}

input[type="submit"] {
    margin-top: $base-padding;
    width: auto;
}


input.price {
  width: 70px;
}  
input.long {
  width: 430px;
}

input.item-order {
  width: 34px;
  color: #999;
  
  &:focus {
    color: #222;
  }
}  

input.delete, 
input.delete:hover, 
input.delete:focus,
.add-subitem {
  border: none;
  background: transparent;
  color: #666;
  text-decoration: underline !important;
  padding: 6px;
  line-height: 1.5;
  margin-top: 0 !important;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input.delete:hover, 
input.delete:focus {
  text-decoration: underline !important;
  color: $color-red;
}

select {
  min-width: 100px;
  max-width: 300px;
}

textarea {
    width:100%;
    height:80px;
    min-height:80px;     
}


label {
    display:inline-block;
    line-height:1.5;
    margin-top: $base-padding;
    width:100%;
    font-weight: $bold;
    font-size: $font-size-small;
    
    &.checkbox, &.radio {
        margin:0 0 0 5px;
        width:auto;     
    }
    
    &.textarea {
        display:block;
    }
}


.alert {
  padding: $base-padding*2;
  position: fixed;
  top: 40px;
  left: 50%;  
  margin: 0;
  margin-top: $base-padding*2; 
  margin-left: -150px;
  width: 90%;
  text-align: center;
  background: rgba(0,0,0,0);
  font-weight: $normal;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.success {
    background: $color-green;
    background: rgba(82,126,62,0.9);
  }
  
  &.error {
    background: $color-red;
    background: rgba(161,23,23,0.9);
  } 
  
  &.active {
    margin-top: -100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);  
    opacity: 1;
  }   
  
  &.hidden {
    margin-top: $base-padding*2;
    opacity: 0;
  } 
}

.delete-content {
  float: left;
  padding: 0;
  margin: 0;
  margin-top: -62px;
  margin-left: 130px;
}


a.preview-button {
  position: absolute;
  right: 0;
  top: 65px;
  background: $color-dark;
  color: #fff;
  font-weight: $normal;
  font-size: $font-size-small;
  display: block;
  padding: $base-padding/2;
  text-decoration: none;
  width: 70px;
  text-align: center;
  opacity: 0.3;
  
  &:hover, &:active, &.active {
    opacity: 1;
  }  
  
} 



@media #{$medium-up} {

    
    .alert, .short {
      width: 300px;
    }
    
    .alert {
      left: 50%; 
      top: 0;
      margin-left: -150px;
    }
    
    form {
      input[type='text'] {
        width: 300px;
      } 
    }
}  

@media #{$large-up} {
    a.preview-button {
     right: 20%; 
    }
  
  
    textarea {
        width: 80%;
    }  
} 

  


