
#sidebar {
  background: $color-red;
  color: $color-off-white;
  height: 100%;
  padding: 0;
  overflow-y: scroll;
  
  h2 {
    padding: 0;
    margin: 0;
    float: none;
    clear: both;
    
    a {
      color: $color-off-white;
      text-decoration: none;
      display: block;
      padding: 10px;
      -moz-transition: background-color 0.15s ease-in;
      -webkit-transition: background-color 0.15s ease-in;
      transition: background-color 0.2s ease-in;
      
      &:hover {
        background: lighten($color-red,20%);
      }
    }
  }
}

#sidebar {
  width: 100%;
  /*height: 46px;*/
  height: auto;
  clear: both;
}


@media #{$medium-up} {


  #sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    
    h2 {
      width: auto;
      float: none;
      
      a {
        padding: 30px 12px;
        margin-top: 20px;
      }
    }
    
  }
}  