@import "reset.scss";
@import "../functions.scss";
@import "variables.scss";
@import "forms.scss";
@import "reveal.scss";
@import "sidebar.scss";
@import "buttons.scss";

html {
  background: $color-off-white;
}



#content {
  height: auto;
  padding-right: 20px;
  background: $color-off-white;
  width: 100%;
  padding-left: 20px;  
}

#sidebar, #content {
  float: left;
}


h3 {
  margin-top: 0;
}  

/* Login form */
#login {
    
  h2 {
    text-align: center;
    margin-bottom: $base-padding*2;
  }
  
  p {
    text-align: center;
  }
      
  form {
    max-width: 400px;
    margin: $base-padding*8 auto;
    
    fieldset {
      padding: $base-padding;
      margin-bottom: $base-padding*2;
    }
    
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      padding: $base-padding/1.5 $base-padding/1.5;
      font-size: $font-size-large;
      margin-bottom: $base-padding/2;
      background: $color-off-white;
      width: 100%;
    }
    
    label {     
      margin-bottom: $base-padding/2;
    }
  }

}

/* End Login form */


/* Table Styles */

table th,
table td {
  padding: 12px;
  line-height: 1.5;
}

table form {
  padding: 0;
  margin: 0;
}

  th {
    &.order {
      width: 20px;
    }  
    &.description {
      width: 250px;  
    }  
    &.price {
      width: 80px;  
    }
    &.menu {
      width: 100px;
    } 
    
    td.actions {
      opacity: 0.3;
    }    
    
    &.hover {
      td.actions {
        opacity: 1;
      } 
    }    
  }


table.item-list { 
  thead {
    tr {
      background: #222;
      color: $color-off-white;
      
      
      th {
        padding: 6px 12px;
        
                
        &.blank {
          background-color: $color-off-white;
          
        }
      }
    }
    
    &.subheader {  
      th {
        background: #ddd;
        color: #666;
        text-align: left;
        font-size: $font-size-small;
      }
    }
    
  }  

  tbody {
    td {
      padding: 12px 2px;
      
      &.option {
        white-space: nowrap;
        padding-left: 12px;
      }
    }
    
    tr  {  
      &.odd, &.odd tr.options {
        background-color:#eee;  
      }
      
      &.options {
        td {
          padding: 0 12px;
          color: #666;
          font-size: $font-size-small;

        }
      }
    }
  
  }
} /* End Item List */

/* End Table Styles */


/* Form Styles */

form {
  p {
    margin: 0;
    margin-bottom: 6px;
  }
  
  select {
    min-width: 100px;
    max-width: 250px;
  }
  
  input[type='text'] {
    width: 300px;
  } 
  input.price {
    width: 70px;
  }  
  input.long {
    width: 430px;
  }

  textarea {
    min-height: 60px;
    width: 100%;
          
    &:focus {
      background: #fff;
    }
  }
    
}

  input.item-order {
    width: 34px;
    color: #999;
    
    &:focus {
      color: #222;
    }
  }  
  
table.item-list tbody input[type='text'] {
  background: transparent;
  border: none;
  padding: 12px;
  
    
  &:hover {
    background: #fff;
    cursor: pointer;
  }    
  
  &:focus {
    background: #fff;
    cursor: text;
  }    
} 

input.delete, input.delete:hover, input.delete:focus,
.add-subitem {
  border: none;
  background: transparent;
  color: #666;
  text-decoration: underline !important;
  padding: 6px;
  line-height: 1.5;
  margin-top: 0 !important;
  font-weight: 400;
}

input.delete:hover, input.delete:focus {
  text-decoration: underline !important;
  color: red;
}

form.delete-category {
  display: inline-block;
  margin: 0;
}

/* Form Styles */



/* Button Styles */
  
.button.small,
table.item-list tbody input.button {
  padding: 6px 8px;
  margin: 6px;
  margin-right: 0;
}

.add-subitem:hover, .add-subitem:focus {
  text-decoration: underline !important;
  color: $color-blue;
}

.tools {
  margin-top: $base-padding*2;
  
  form {
    margin: 0;
    margin-right: $base-padding*2;
    padding-bottom: $base-padding*2;
  }
  
  h3 {
    margin: 0;
  }
}

/* Sortable List */

tr.slip-reordering {
    box-shadow: 0 2px 10px rgba(0,0,0,0.45) !important;
}

.move-handle {
  cursor: ns-resize;
  font-size: 24px;
  text-align: center;
  color: #999;
}

.move-handle:hover {
  color: #333;
}

.move-handle:after {
    content: " \2261";   
}

/* End Sortable List */

#footer {
  text-align: left;
  padding-left: 240px;  
  padding-right: 20px;
  padding-top: 40px;
  line-height: 150%;
  color: $color-mute;
  
  .logo {
    display: inline-block;
    width: 80px;
    height: auto;
  }
}


/* Helper Classes */

.reveal-modal {
  form {
    margin: 0 !important;
  }
}

.nolist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img {
  padding-right: $base-padding*2;
}

.column-3 {
  width: 100%;
  float: left;
  
  img {
    max-width: 100%;
  }
}



@media #{$medium-up} {



  html {
    border-top: 20px solid $color-purple;
  }

  #content {
    padding-left: 240px; 
  }

  .column-3 {
    width: 33.33333%;
  }


}  

